div
  ul.nav.nav-pills.pull-right
    li
      a(href="/stream") <strong>#ltnet</strong> programavimo naujienos &raquo;
  h3 &nbsp;
  
div.hero-unit
  img.pull-left(id="logo", src="/public/img/logo.png", alt="dotnetgroup.lt logo")
  h1 Lietuvos <strong>.net</strong> naudotojų grupė
  p
  p Programuotojų, testuotojų, architektų ir kitų entuziastų grupė, dirbanti su <strong>.net</strong> technologijomis
