extends layout

block content
  
  include header

  div.row
    div.span4
      h2 Artimiausi susitikimai
      ul.unstyled
        p.muted Sustikimai dar nėra suplanuoti :(
        p Galėtum padaryti pranešimą?
          a(href="mailto:seriog@yahoo.com?subject=dotnetgroup-pranesejas") Pranešk mums!
    div.span4
      h2 Ankstesni susitikimai
      ul.unstyled
        li
          a(href="#v19") 2013-01-31 | susitikimas Vilniuje #19
        li
          a(href="#k15") 2013-01-30 | susitikimas Kaune #15
        li
          a(href="#v18") 2012-10-17 | susitikimas Vilniuje #18
        li
          a(href="#k14") 2012-10-16 | susitikimas Kaune #14
      p
        a(href="#events") pilnas sąrašas &raquo;
    div.span4
      h2 Apie grupę
      p Pagrindinis šios grupės tikslas - suburti su <strong>.net</strong> technologijomis dirbančius žmones vienoje vietoje, taip pagerinant tarpusavio komunikaciją ir išplečiant pažinčių tinklą.
      ul.inline
        li
          a(href="mailto:seriog@yahoo.com?subject=dotnetgroup")
            img(src="/public/img/icon-email.png", alt="email")
        li
          a(href="https://github.com/sergejusb/DotNetGroup", target="_blank")
            img(src="/public/img/icon-github.png", alt="GitHub")
        li
          a(href="http://www.linkedin.com/groups?gid=2088780", target="_blank")
            img(src="/public/img/icon-linkedin.png", alt="LinkedIn")
  div.row
    div.span8
      h2 Rėmėjai
      div.row
        div.span4
          a(href="http://microsoft.com", target="_blank")
            img(src="/public/img/microsoft.png", alt="Microsoft")
        div.span4
          a(href="http://adform.com", target="_blank")
            img(src="/public/img/adform.png", alt="Adform")
    div.span2
      h2 Draugai
      ul.unstyled
        li
          a(href="http://itishnikai.lt", target="_blank") ITishnikai
        li
          a(href="http://sergejus.blogas.lt", target="_blank") Sergejus apie .NET
        li
          a(href="http://facebook.com/WPDLT", target="_blank") Windows Platforms Developers Lithuania
    div.span2
      h2 &nbsp;
      ul.unstyled
        li
          a(href="http://vilniusjs.lt", target="_blank") Vilnius JS
        li
          a(href="http://www.vilniusphp.lt", target="_blank") Vilnius PHP
        li
          a(href="http://www.vilnius-jug.lt", target="_blank") Vilnius JUG