!!! 5
html(lang="en")
  head
    meta(name="application-name", content=".net naudotojų grupė")
    meta(name="msapplication-TileColor", content="#eeeeee")
    meta(name="msapplication-TileImage", content="/public/img/logo_144.png")

    title=title

    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="alternate", type="application/rss+xml", title="Lietuvos .net naudotojų grupės susitikimai", href="/rss.xml")

    link(href="/public/css/bootstrap.min.css", rel="stylesheet", media="screen")

    style
      #logo {
        position: relative;
        top: -1em;
        padding-right: 2em;
        width: 150px;
        height: 150px;
      }

  body(id="home")
    div.container
      block content

    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2241822-3']);
      _gaq.push(['_setDomainName', 'dotnetgroup.lt']);
      _gaq.push(['_trackPageview']);

      (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
